
body{
  margin-top: 3em;
  background: #e03a29;
}

body *, html * {
  box-sizing: border-box;
}

h1{
  color: #fff;
}

header{
  top :5%;
}


.center {
  text-align: center;
  margin-top: 1em;
}

.col-center {
   float: none;
   margin-right: auto;
   margin-left: auto;
}

.display{
  display: none;
}

#search-results {
  position: relative;
  margin-top: 5.5em;
  margin-left: 2em;
  margin-right: 3em;
  -moz-column-width: 13em;
  -webkit-column-width: 13em;
  column-width: 13em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
  column-gap: 1em;
}


.search-container {
  position: absolute;
  line-height: 1;
  left: 50%;
  top: 23%;
  transform: translate(-50%);
}

.search-box{
  box-sizing: none;
}

.search-box input[type="text"] {
  border: none;
  background: none;
  z-index: 1;
  width: 30px;
  height: 30px;
  transition: all .25s ease-in .25s;
  color: transparent;
  font-size: 12px;
  line-height: 25px;
}

.search-box input[type="text"]:hover {
  cursor: pointer;
}
.search-box input[type="text"]:hover:focus {
  cursor: text;
}
.search-box input[type="text"]:hover + span {
  background: rgba(255, 255, 255, 0.2);
}
.search-box input[type="text"]:focus {
  width: 200px;
  padding: 0 10px;
  outline: none;
  color: black;
  background: none;
  color: white;
}
.search-box input[type="text"]:focus + span {
  width: 200px;
}
.search-box input[type="text"]:focus + span::before {
  width: 2px;
  opacity: 0;
  transition: all .25s ease-in;
}
.search-box input[type="text"] + span {
  z-index: -1;
  position: absolute;
  border: 2px solid white;
  top: 0;
  width: 25px;
  height: 25px;
  transition: all .25s ease-in .25s;
  border-radius: 25px;
  left: 0;
}
.search-box input[type="text"] + span::before {
  transition: all .25s ease-in .5s;
  transform-origin: left top;
  content: '';
  position: absolute;
  width: 10px;
  height: 5px;
  border-radius: 5px;
  background: white;
  transform: rotate(45deg) translate(26px, -2px);
}

button{
  height: 25px;
  border-radius: 25px;
  background: black;
  border: 2px solid white;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  color: #ffffff;
  font-size: 12px;
  background: #000000;
  padding: 7px 20px 11px 20px;
  text-decoration: none;
}

button:hover {
  background: #e00038;
  text-decoration: none;
}

.thumbnail{
  display: inline-block;
}

.animate{
  top:0;
}
