<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Image Search</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>

  <link rel="stylesheet" href="css/style.css">

  
</head>

<body>
  <div id="main-container">
    
    <div class="row">
      <h1 class="center">Be inspired!</h1>
    </div>
      
    <div class="container">
    <div class="search-box list-unstyled">
      <input type="text" v-on:keyup.enter="callapi"/>
      <span></span>
    </div>
    </div>
<!--      <div class="col-md-offset-2 col-sm-10">
        <input type="text" v-model="query" debounce="500" placeholder="Enter your search tag" id="search-input"/> 
      </div>
    <div class="text-center">
        <button v-on:click="callapi" class="btn btn-default" id="submit">Search Image</button>
      </div> -->

    
    <div class="row">
      <div v-show="images==null"><p class="center">Can't find match photo.</p></div>
      <div id="search-results">
          <div v-for="image in images"> <!-- image rendering -->
            <div class="thumbnail">
              <a :href="image.link" target="_blank">
                <img src="https://media.giphy.com/media/xUPGcK8oba6GVIn7uU/giphy.gif" style="width: 100%;" v-img="image.media.m">  <!-- insert photo in small size -->
              </a>
            </div>
          </div>
      </div>
    </div>
    
  </div>
  
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.0.3/vue-resource.min.js'></script>
  <script src="js/index.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js'></script>

</body>
</html>
